:root { 
  --invert:0;
    /* --bg-1:#FFFFFF; 
    --bg-2:#fdfdfc;
   --bg-3: #f5f5f5;
    --bg-4:#90909040; */
    --bg-1:#F4DFBA;
    --bg-2:#EEC373;
    --bg-3:#CA965C;
    --bg-4:#876445;
  
    --t-1:#313547;
    --t-2:#38393B;
    --t-3:#898E96;
    --t-4:#989EA6;
    
    --bg-b:#fffffff2;
  }
  [data-theme='dark'] {
    --invert:0;

/* cedric */
    --bg-1:#161616;
    --bg-2:#1c1c1c;
    --bg-3:#2b2b2b;
    --bg-4:#393939;

    --t-1:#ffffff;
    --t-2:#f2f2f2;
    --t-3:#7d8084;
    --t-4:#7c7f82;

    
    --bg-b:#1c1c1cf2;
  } 
  
  *  {
    padding:0px;
    margin:0px;
    --themecolor:#f0695f;
    --themecolor2:#ffa116;
    --hover:#f8f8f8;
    --purple:#c8bff7;
    --purple-2:#D1A7E5;
    --paleblue:#bfe3f7;
    --orange:#f7d4bf;
    --pink:#f7bfee;
    --palepink: #ffe8db;
    --palegreen:#d9f7bf;
    --coral:#f7bfbf;
    --khaki:#f7f0bf;
    --darkblue:#bacfff;
    --seagreen:#baeed2;
    --css:#3863d9;
    scroll-behavior: smooth;
    --scrollbar-size: 8px;
    --darkgrey:#6d7175;
    --darkgreen:#286d1d;
    --sunset:#ebaf26;
    --gold:#796825;
    --red:#ff7842;  
    --red-2:#f26725;
   --yellow:#ffd908;
    --bg-dt:#1c1c1cf2;
    --frenchred:#f0695f;
   --navy:#0C2365;
   --neongreen:#08ffbd; 
   --leetcodeorange:#d16c06;
    --leetcodeorange2:#ffa116;

      --box-shadow-1:0px 2px 3px 0px rgba(0,0,0,0.1);
      --box-shadow-2:0 4px 4px rgba(0,0,0,0.1);
      --box-shadow-3:1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
      --box-shadow-4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      --transition-1:all 0.25s ease;
      --transition-2:all 0.5s ease;
    
     --one:1;
     --zero:0;
  
     --scrollbarBG:#fdfdfc ;
    --thumbBG:#f5f5f5;
    
    --bg-blur:rgba(56, 57, 59,0.8);
  
  }


html {
filter: invert(var(--invert));
background-color:var(--bg-1);
color:var(--text-primary); 
scroll-behavior: smooth;
/* font-family: Arial,sans-serif; */
width: 100vw;
min-height: 100dvh;
font-size: 16px;
display: flex;
flex-direction: column;
align-items:center;

overflow-x: hidden;
overflow-y: scroll;

--font-size-11:11px;
--font-size-12-14: clamp(0.75rem, 0.664rem + 0.4587vw, 0.875rem);
--font-size-14:14px;
--font-size-15:15px;
--font-size-16:clamp(0.9375rem, 0.9239rem + 0.0725vw, 1rem);
 --font-size-20:clamp(1rem, 0.9457rem + 0.2899vw, 1.25rem);
 --font-size-24:clamp(1.0625rem, 0.9674rem + 0.5072vw, 1.5rem);
 --font-size-36:clamp(1.5rem, 1.3913rem + 0.5797vw, 2rem);
 --font-size-48:clamp(2.5rem, 1.875rem + 2vw, 3rem);
 --font-size-76:clamp(2.75rem, 2.3152rem + 2.3188vw, 4.75rem);

 --line-height-56:clamp(3rem, 2.375rem + 2vw, 3.5rem);

 --margin-24:clamp(1rem, 0.375rem + 2vw, 1.5rem);

transition: var(--transition-2);
 scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);

}

html::-webkit-scrollbar-track {
background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
background-color: var(--thumbBG) ;
border-radius: 6px;
border: 3px solid var(--scrollbarBG);
}
body {
box-sizing: border-box;
width: 100%;
flex: 1 1 auto;
background-color:var(--bg-1);
display: flex;
flex-direction: column;
padding:0px 0px;
position: relative;
color:var(--text-primary);
height: min-content;
scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);

border: none;
}
body > div {
flex: 1 1 auto;
display: flex;
flex-direction: column;
}
body::-webkit-scrollbar-track {
background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
background-color: var(--thumbBG) ;
border-radius: 6px;
border: 3px solid var(--scrollbarBG);
}

/* media for phone CHECK! */
@media (width < 736px) {
body {
  overflow-x: hidden;
}
}

::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
background-color: var(--scrollbarBG);
/* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--thumbBG);

}
::-webkit-scrollbar-thumb:hover {
background-color: var(--bg-3);
}

main {

margin: 80px 0px 0px 0px;
position:relative;
top:0px;
flex:1 1 auto;
height: min-content;
background-color: var(--bg-1);
display: grid;
grid-template-columns: 1fr;
padding-top: 120px;
width: 100%;

}



header {
  font-size: var(--font-size-14);
  width:100vw;
  background-color: var(--bg-2);
  display: flex;
  height: 80px;
  position: fixed;
  top: 0px;
  left:0px;
  padding: 1.5rem 0rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--bg-4);
  z-index: 1;
  color: var(--t-2);
  align-items: center;

}

header > nav {
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  gap: 16px;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;

}
.header-nav > * {
  font-size: var(--font-size-16);
  color: var(--t-2);
  font-weight: 400;
  

}

.centered-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 736px;
  margin: auto;
  height: 100%;
  flex: 1 1 auto;
}

  /* title component */
  h1.title {
    color:var(--t-2);
    font-size: var(--font-size-48);
    font-weight: 500;
    letter-spacing: -2px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 0px;
    position: relative;
    white-space: pre-wrap;
}


footer {
  display: flex;
  width: 100%;
  background-color: var(--bg-2);
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--bg-4);
}

.one-rem {
  display: block;
  height: 1rem;
}

.centered-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
}

.anchor-internal {
  text-decoration: none;
  font-size: var(--font-size-24);
  margin-right: 0.5rem;
  color: var(--t-1);
  transition: var(--transition-1);
  font-weight: 400;
}
.anchor-internal:hover , .anchor-external:hover {
  color: var(--themecolor);
}
.anchor-external {
  text-decoration: none;
  font-size: var(--font-size-24);
  margin-right: 0.5rem;
  color: var(--t-1);
  transition: var(--transition-1);
  font-weight: 400;
}
.anchor-inline {
  display:inline;
  text-decoration: underline;
  color: var(--t-1);
  transition: var(--transition-1);
  font-weight: 400;
  font-size: inherit;
  margin-left: 0.2rem;
}
.anchor-inline:hover {
  color: var(--themecolor);
}

/* intro component */
.intro {
  font-size: var(--font-size-16);
color: var(--t-2);
line-height:1.5rem ;
font-weight:500;
max-width: 50ch;
margin: 0;

display: flex;
align-items: center;
gap: 0px;
flex-wrap: wrap;
white-space: pre-wrap;
position: relative;

}

.link-button {
  display: flex;
  padding: 8px 12px;
  border: 1px solid var(--bg-4);
  color: var(--t-2);
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-3);
  transition: var(--transition-1);
  gap: 0.25rem;
  text-decoration: none;
}

.link-button:hover {
  color: var(--t-1);
  background-color: var(--bg-1);

}

.name-link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}